.comments .rich-text-editor {
  border-width:0;
  background:#eef;
}
.comments .rich-text-editor-view {padding:.25em .5em}
.comments .rich-text-editor-tool {
  border-top:1px dashed #fff;
  visibility:visible;
  opacity:1;
}
.comments .rich-text-editor-tool a {
  background:none;
  color:#00a;
}
.comments .rich-text-editor-tool a:focus,
.comments .rich-text-editor-tool a:hover {
  background:none;
  color:#a00;
}
.comments .rich-text-editor-d {margin-bottom:1px}
.comments .rich-text-editor-d input {color:#00a}